In [43]:
import numpy as np
import pandas as pd

In [44]:
tweets = pd.read_csv('data/tweets/all_tweets.csv')

In [90]:
tweets

,date,tweet,token,date_time,timestamp
0,2022-08-29 02:18:35,First few days just 1k but going to 10k if no ...,"['First', 'few', 'days', 'just', '1k', 'but', ...",2022-08-29 02:18:35,1.661740e+09
1,2022-08-29 02:11:30,Good to ask yourself this often,"['Good', 'to', 'ask', 'yourself', 'this', 'oft...",2022-08-29 02:11:30,1.661739e+09
2,2022-08-29 02:11:12,Agreed we recently made this change many An in...,"['Agreed', 'we', 'recently', 'made', 'this', '...",2022-08-29 02:11:12,1.661739e+09
3,2022-08-28 23:51:49,This will happen again just a matter of time,"['This', 'will', 'happen', 'again', 'just', 'a...",2022-08-28 23:51:49,1.661731e+09
4,2022-08-28 22:54:36,The swoop of the X is meant to represent the a...,"['The', 'swoop', 'of', 'the', 'X', 'is', 'mean...",2022-08-28 22:54:36,1.661727e+09
...,...,...,...,...,...
13203,2018-01-07 03:00:48,Near 405,"['Near', '405']",2018-01-07 03:00:48,1.515294e+09
13204,2018-01-07 02:33:02,put an old school roller rock restaurant at on...,"['put', 'an', 'old', 'school', 'roller', 'rock...",2018-01-07 02:33:02,1.515292e+09
13205,2018-01-05 00:30:00,Falcon Heavy goes vertical,"['Falcon', 'Heavy', 'goes', 'vertical']",2018-01-05 00:30:00,1.515112e+09
13206,2018-01-03 08:22:31,a neural net to detect rain no rain or sun are...,"['a', 'neural', 'net', 'to', 'detect', 'rain',...",2018-01-03 08:22:31,1.514968e+09
13207,2018-01-03 05:38:16,Come work at the biggest most advanced factory...,"['Come', 'work', 'at', 'the', 'biggest', 'most...",2018-01-03 05:38:16,1.514958e+09

# Financial data preprocessing

In [46]:
import pandas as pd

btc = pd.read_csv('data/crypto_data/BTCUSDT.csv')
eth = pd.read_csv('data/crypto_data/ETHUSDT.csv')
bnb = pd.read_csv('data/crypto_data/BNBUSDT.csv')
doge = pd.read_csv('data/crypto_data/DOGEUSDT.csv')

In [47]:
df_list = [btc, eth, bnb, doge]

In [48]:
for df in df_list:
    df['date_time'] = pd.to_datetime(df['date_time'])
    #keep only the date_time, close, volume columns
    df.drop(df.columns.difference(['date_time', 'close', 'volume']), 1, inplace=True)

C:\Users\levit\AppData\Local\Temp\ipykernel_7148\4026625009.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['date_time', 'close', 'volume']), 1, inplace=True)
C:\Users\levit\AppData\Local\Temp\ipykernel_7148\4026625009.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['date_time', 'close', 'volume']), 1, inplace=True)
C:\Users\levit\AppData\Local\Temp\ipykernel_7148\4026625009.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['date_time', 'close', 'volume']), 1, inplace=True)
C:\Users\levit\AppData\Local\Temp\ipykernel_7148\4026625009.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['date_time', 'close', 'volume']), 1, inplace=True)

In [49]:
#remove all the data points before 2018-01-01
from datetime import datetime

#add time stamp column
for df in df_list:
    df['timestamp'] = df['date_time'].apply(lambda x: x.timestamp())

### Add minute returns

In [50]:
#calculate the d minute returns for 1, 10, 20, 30, 45, 60, 120 minutes
minutes_list = [1, 10, 20, 30, 45, 60, 120]

for df in df_list:
    for minutes in minutes_list:
        df[f'{minutes}m_return'] = df['close'].pct_change(minutes)

In [51]:
btc

,date_time,close,volume,time_stamp,1m_return,10m_return,20m_return,30m_return,45m_return,60m_return,120m_return
0,2017-12-31 23:01:00,13707.92,2.844266,1.514761e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-12-31 23:02:00,13694.92,2.113138,1.514761e+09,-0.000948,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-12-31 23:03:00,13680.00,1.346411,1.514761e+09,-0.001089,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-12-31 23:04:00,13645.99,11.589417,1.514761e+09,-0.002486,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-12-31 23:05:00,13600.00,15.724566,1.514762e+09,-0.003370,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2442868,2022-08-29 23:57:00,20301.07,180.143200,1.661817e+09,-0.000018,-0.001661,0.001144,0.002072,0.007660,0.006223,0.004655
2442869,2022-08-29 23:58:00,20298.56,108.558190,1.661817e+09,-0.000124,-0.000579,0.000980,0.002598,0.007284,0.005131,0.004412
2442870,2022-08-29 23:59:00,20294.29,92.691750,1.661818e+09,-0.000210,0.000284,0.000216,0.002955,0.007195,0.004981,0.004063
2442871,2022-08-30 00:00:00,20285.73,112.040570,1.661818e+09,-0.000422,-0.000090,-0.001101,0.002501,0.006246,0.004052,0.004067
2442872,2022-08-30 00:01:00,20288.73,275.978650,1.661818e+09,0.000148,0.000345,-0.000439,0.001935,0.006711,0.004633,0.004345

### Add log volume

In [52]:
import numpy as np

for df in df_list:
    df['log_volume'] = np.log(df['volume'])

c:\Users\levit\.pyenv\pyenv-win\versions\3.10.7\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\levit\.pyenv\pyenv-win\versions\3.10.7\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\levit\.pyenv\pyenv-win\versions\3.10.7\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\levit\.pyenv\pyenv-win\versions\3.10.7\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [13]:
# The trading volume varies greatly throughout the day with large
# spikes around the opening and closing trading auctions. We,
# therefore, introduce the adjusted trading volume (denoted simply as
# adjusted volume), where we adjust the logarithm of the trading volume (volume) each minute by subtracting the average logarithmic trading
# volume on that minute from the whole sample. In other words, when we
# calculate the abnormal trading volume for 10:13 on a particular day, we
# subtract the average logarithmic trading volume at 10:13 for all the days
# in the sample period.

import multiprocessing


def calculate_adjusted_log_volume(df, time, index):
    try:
        df['adjusted_log_volume'][index] = df['log_volume'][index] - df['log_volume'][df['date_time'].apply(lambda x: x.time()) == time].mean()
        print(f'Processed index: {index}')
    except Exception as e:
        print(e)
    

for df in df_list:
    df['adjusted_log_volume'] = np.nan
    
    with multiprocessing.Pool(10) as p:
        
        #pool.map(calculate_adjusted_log_volume, [(df, time, index) for index, time in enumerate(df['date_time'].apply(lambda x: x.time()))])
    
    # for index in df.index:
        
    #     time = df['date_time'][index].time()
        
    #     df['adjusted_log_volume'][index] = df['log_volume'][index] - df['log_volume'][df['date_time'].apply(lambda x: x.time()) == time].mean()
    #     print(f'Processed index: {index}')

In [16]:
x = [(df, time, index) for index, time in enumerate(df['date_time'].apply(lambda x: x.time()))]

In [27]:
x[2][1]

datetime.time(12, 3)

# Generate word Histogram

In [9]:
frequent_words = pd.read_csv('data/tweets/word_count_filtered.csv')

In [12]:
#select top 20 most frequent words

top_frequent_words = frequent_words[:20]

In [163]:
df = pd.DataFrame({'word':words, 'count':count})
df.to_csv('data/tweets/final_words.csv', index=False)

# General effect of Elon Musk Tweeting

In [82]:
# for df in df_list:
#     for i in tweets.index:
        
#         timestamp = tweets['timestamp'][i]
#         df['has_tweeted'] = df['timestamp'].apply(lambda x: x == timestamp)
#         print(i)

for df in df_list:
    df['has_tweeted'] = df['timestamp'].apply(lambda x: x in tweets['timestamp'].values)

In [89]:
# find the first row where has_tweeted is True
btc[btc['has_tweeted'] == True]

,date_time,close,volume,timestamp,1m_return,10m_return,20m_return,30m_return,45m_return,60m_return,120m_return,log_volume,has_tweeted
5724,2018-01-05 00:30:00,14973.00,17.033792,1.515112e+09,0.001203,-0.000801,0.002075,0.004494,0.003552,0.005913,0.003338,2.835199,True
34169,2018-01-24 18:35:00,11153.87,3.913474,1.516819e+09,-0.001243,0.000872,0.006222,0.007576,0.012135,0.001476,0.011249,1.364425,True
50728,2018-02-05 06:34:00,8030.03,11.584442,1.517812e+09,0.000987,0.000490,0.005639,-0.010679,-0.022023,-0.022516,-0.026662,2.449663,True
94023,2018-03-08 18:29:00,9279.99,21.939073,1.520534e+09,0.000862,-0.002044,-0.007746,-0.009294,-0.010373,0.004930,0.003242,3.088269,True
137908,2018-04-08 06:54:00,6930.00,3.791117,1.523170e+09,-0.001143,0.001735,-0.002878,-0.002025,-0.000596,-0.003738,-0.006736,1.332661,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2414250,2022-08-10 02:59:00,22912.45,58.858120,1.660100e+09,0.000224,0.002330,0.004201,0.003832,0.002197,0.000611,0.006461,4.075130,True
2424177,2022-08-17 00:26:00,23910.79,89.906250,1.660696e+09,0.000754,-0.000802,0.002040,0.001045,0.001240,0.002434,0.001649,4.498767,True
2424679,2022-08-17 08:48:00,23806.46,117.109690,1.660726e+09,-0.000326,0.000439,0.001309,-0.002276,0.001096,-0.002219,-0.023782,4.763111,True
2427377,2022-08-19 05:46:00,22800.15,80.285570,1.660888e+09,0.000388,-0.000021,-0.000704,-0.000276,0.000634,-0.000450,0.000833,4.385590,True
2441089,2022-08-28 18:18:00,19987.01,35.589440,1.661711e+09,-0.000165,0.000352,-0.000612,0.000571,-0.002734,-0.001404,-0.006246,3.572049,True

# Naive approach based on single words

### Word Histogram

In [ ]:
frequent_words = pd.read_csv('data/tweets/word_count_filtered.csv')

#select top 20 most frequent words
top_frequent_words = frequent_words[:20]


# create a histogram plot of the top frequent_words_filtered, with the word as the y-axis and the count as the x-axis
from cProfile import label
import matplotlib.pyplot as plt

fig = plt.figure(figsize=(12,10))
   
words = top_frequent_words['word'][::-1]

count = top_frequent_words['count'][::-1]

count = count.tail(15)

words = words.tail(15)

word= frequent_words[frequent_words['word'] == 'doge']
selected_word = word['word'].iloc[0]
c = word['count'].values.sum()

words = pd.concat([pd.Series('model'), words]).reset_index(drop=True)
count = pd.concat([pd.Series(236), count]).reset_index(drop=True)

#insert the word in the begining of words
words = pd.concat([pd.Series(selected_word), words]).reset_index(drop=True)
count = pd.concat([pd.Series(c), count]).reset_index(drop=True)

words = pd.concat([pd.Series('factory'), words]).reset_index(drop=True)
count = pd.concat([pd.Series(78), count]).reset_index(drop=True)


words = pd.concat([pd.Series('tesla'), words]).reset_index(drop=True)
count = pd.concat([pd.Series(15), count]).reset_index(drop=True)

plt.barh(words, count, height=0.5)
plt.title('Common words used by Musk in his tweets', fontsize=20)
plt.xlabel('Count', fontsize = 15)
plt.ylabel('Word', fontsize = 15)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
#plt.savefig('figures/most_common_words.png', facecolor='white', edgecolor='none')
plt.show()

# Topic based approach

### Word Cloud

# Trading Startegy