In [718]:
import numpy as np
import pandas as pd

# Tweets preprocessing

In [751]:
tweets = pd.read_csv('data/tweets/tweets.csv')
tweets

,datetime,tweet,token
0,2018-01-03 05:38:00,Come work at the biggest most advanced factory...,"['Come', 'work', 'at', 'the', 'biggest', 'most..."
1,2018-01-03 08:23:00,a neural net to detect rain no rain or sun are...,"['a', 'neural', 'net', 'to', 'detect', 'rain',..."
2,2018-01-05 00:30:00,Falcon Heavy goes vertical,"['Falcon', 'Heavy', 'goes', 'vertical']"
3,2018-01-07 02:33:00,put an old school roller rock restaurant at on...,"['put', 'an', 'old', 'school', 'roller', 'rock..."
4,2018-01-07 03:01:00,Near 405,"['Near', '405']"
...,...,...,...
13203,2022-08-28 22:55:00,The swoop of the X is meant to represent the a...,"['The', 'swoop', 'of', 'the', 'X', 'is', 'mean..."
13204,2022-08-28 23:52:00,This will happen again just a matter of time,"['This', 'will', 'happen', 'again', 'just', 'a..."
13205,2022-08-29 02:11:00,Agreed we recently made this change many An in...,"['Agreed', 'we', 'recently', 'made', 'this', '..."
13206,2022-08-29 02:12:00,Good to ask yourself this often,"['Good', 'to', 'ask', 'yourself', 'this', 'oft..."
13207,2022-08-29 02:19:00,First few days just 1k but going to 10k if no ...,"['First', 'few', 'days', 'just', '1k', 'but', ..."

In [752]:
tweets['datetime'] = pd.to_datetime(tweets['datetime'])

# Financial data preprocessing

In [777]:
import pandas as pd

btc = pd.read_csv('data/crypto_data/BTCUSDT.csv')
eth = pd.read_csv('data/crypto_data/ETHUSDT.csv')
bnb = pd.read_csv('data/crypto_data/BNBUSDT.csv')
doge = pd.read_csv('data/crypto_data/DOGEUSDT.csv')

In [778]:
df_list = [btc, eth, bnb, doge]

In [779]:
btc

,datetime,open_time,open,high,low,close,volume,close_time,qav,num_trades,taker_base_vol,taker_quote_vol,ignore
0,2017-12-31 23:01:00,1514764800000,13715.65,13715.65,13681.00,13707.92,2.844266,1514764859999,3.893100e+04,32,2.002554,2.741435e+04,0
1,2017-12-31 23:02:00,1514764860000,13707.91,13707.91,13666.11,13694.92,2.113138,1514764919999,2.891098e+04,29,0.264134,3.613884e+03,0
2,2017-12-31 23:03:00,1514764920000,13682.00,13694.94,13680.00,13680.00,1.346411,1514764979999,1.843184e+04,46,0.753332,1.031333e+04,0
3,2017-12-31 23:04:00,1514764980000,13679.98,13679.98,13601.00,13645.99,11.589417,1514765039999,1.579622e+05,137,5.507146,7.511845e+04,0
4,2017-12-31 23:05:00,1514765040000,13645.98,13646.00,13576.28,13600.00,15.724566,1514765099999,2.139781e+05,191,9.739792,1.325619e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2442868,2022-08-29 23:57:00,1661817360000,20301.43,20313.86,20293.94,20301.07,180.143200,1661817419999,3.657591e+06,3861,91.406360,1.855918e+06,0
2442869,2022-08-29 23:58:00,1661817420000,20301.07,20305.00,20296.39,20298.56,108.558190,1661817479999,2.203798e+06,2224,57.686440,1.171108e+06,0
2442870,2022-08-29 23:59:00,1661817480000,20298.67,20299.80,20286.03,20294.29,92.691750,1661817539999,1.880888e+06,2344,37.253990,7.559631e+05,0
2442871,2022-08-30 00:00:00,1661817540000,20294.29,20299.99,20285.55,20285.73,112.040570,1661817599999,2.273803e+06,2320,60.177800,1.221303e+06,0
2442872,2022-08-30 00:01:00,1661817600000,20287.20,20298.75,20271.22,20288.73,275.978650,1661817659999,5.598385e+06,5680,141.150370,2.863552e+06,0

In [781]:
for df in df_list:
    
    df['datetime'] = pd.to_datetime(df['datetime'])
    
    # keep only the date_time, close, volume columns
    df.drop(df.columns.difference(['datetime', 'close', 'volume']), 1, inplace=True)

C:\Users\levit\AppData\Local\Temp\ipykernel_7148\1436803561.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['datetime', 'close', 'volume']), 1, inplace=True)
C:\Users\levit\AppData\Local\Temp\ipykernel_7148\1436803561.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['datetime', 'close', 'volume']), 1, inplace=True)
C:\Users\levit\AppData\Local\Temp\ipykernel_7148\1436803561.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['datetime', 'close', 'volume']), 1, inplace=True)
C:\Users\levit\AppData\Local\Temp\ipykernel_7148\1436803561.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['datetime', 'close', 'volume']), 1, inplace=True)

In [782]:
btc

                   datetime     close      volume
0       2017-12-31 23:01:00  13707.92    2.844266
1       2017-12-31 23:02:00  13694.92    2.113138
2       2017-12-31 23:03:00  13680.00    1.346411
3       2017-12-31 23:04:00  13645.99   11.589417
4       2017-12-31 23:05:00  13600.00   15.724566
...                     ...       ...         ...
2442868 2022-08-29 23:57:00  20301.07  180.143200
2442869 2022-08-29 23:58:00  20298.56  108.558190
2442870 2022-08-29 23:59:00  20294.29   92.691750
2442871 2022-08-30 00:00:00  20285.73  112.040570
2442872 2022-08-30 00:01:00  20288.73  275.978650

[2442873 rows x 3 columns]

### Add minute returns

In [783]:
#calculate the non overlapping d minute returns for 1, 10, 20, 30, 45, 60, 120 minutes
minutes_list = [1, 10, 20, 30, 45, 60, 120]

for df in df_list:
    for minutes in minutes_list:
        df[f'{minutes}_minute_return'] = df['close'].pct_change(minutes)

In [785]:
from datetime import datetime

for df in df_list:
    
    #remove all the data points before 2018-01-01
    df.drop(df[df['datetime'] < datetime(2018, 1, 2)].index, inplace=True)
    
    #remove all the data points adter 2022-08-30
    df.drop(df[df['datetime'] >= datetime(2022, 8, 30)].index, inplace=True)

doge.drop(doge[doge['datetime'] < datetime(2019, 7, 6)].index, inplace=True)

### Add log volume

In [786]:
import numpy as np

for df in df_list:
    df['log_volume'] = np.log(df['volume'])
    df['log_volume'] = df['log_volume'].replace([np.inf, -np.inf], np.nan)
    df.dropna(subset=['log_volume'], inplace=True)

In [787]:
btc

,datetime,close,volume,1_minute_return,10_minute_return,20_minute_return,30_minute_return,45_minute_return,60_minute_return,120_minute_return,log_volume
1499,2018-01-02 00:00:00,13750.01,5.983225,0.001506,0.001018,-0.000726,0.003647,0.019243,0.027654,0.022154,1.788960
1500,2018-01-02 00:01:00,13730.08,11.509143,-0.001449,-0.001436,-0.003623,-0.004995,0.017797,0.021856,0.022671,2.443142
1501,2018-01-02 00:02:00,13765.00,15.206303,0.002543,0.000653,-0.001281,0.000363,0.019630,0.024486,0.027977,2.721710
1502,2018-01-02 00:03:00,13760.00,12.664117,-0.000363,0.000028,0.000708,-0.002899,0.017678,0.025403,0.025964,2.538773
1503,2018-01-02 00:04:00,13750.00,10.768032,-0.000727,-0.000872,0.001260,-0.002973,0.016467,0.019546,0.025966,2.376582
...,...,...,...,...,...,...,...,...,...,...,...
2442866,2022-08-29 23:55:00,20272.54,116.972210,-0.000028,-0.002017,-0.000928,0.002056,0.006880,0.004257,0.002708,4.761936
2442867,2022-08-29 23:56:00,20301.43,197.108460,0.001425,-0.002180,0.000249,0.002517,0.008016,0.006162,0.004457,5.283754
2442868,2022-08-29 23:57:00,20301.07,180.143200,-0.000018,-0.001661,0.001144,0.002072,0.007660,0.006223,0.004655,5.193752
2442869,2022-08-29 23:58:00,20298.56,108.558190,-0.000124,-0.000579,0.000980,0.002598,0.007284,0.005131,0.004412,4.687286
2442870,2022-08-29 23:59:00,20294.29,92.691750,-0.000210,0.000284,0.000216,0.002955,0.007195,0.004981,0.004063,4.529279

In [789]:
for df in df_list:
    #subtract from df['log_volume'] the mean of df['log_volume'] for each minute
    df['adjusted_log_volume'] = df['log_volume'] - df.groupby(df['datetime'].dt.time)['log_volume'].transform('mean')
    df.dropna(inplace=True)

In [791]:
btc.to_csv('data/processed_crypto_data/BTC.csv', index=False)
eth.to_csv('data/processed_crypto_data/ETH.csv', index=False)
bnb.to_csv('data/processed_crypto_data/BNB.csv', index=False)
doge.to_csv('data/processed_crypto_data/DOGE.csv', index=False)

# General effect of Elon Musk Tweeting

In [803]:
tweets = pd.read_csv('data/tweets/tweets.csv')
tweets['datetime'] = pd.to_datetime(tweets['datetime'])

In [793]:
btc = pd.read_csv('data/processed_crypto_data/BTC.csv')
eth = pd.read_csv('data/processed_crypto_data/ETH.csv')
bnb = pd.read_csv('data/processed_crypto_data/BNB.csv')
doge = pd.read_csv('data/processed_crypto_data/DOGE.csv')

In [805]:
df_list = [btc, eth, bnb, doge]

In [806]:
for df in df_list:
    df['datetime'] = pd.to_datetime(df['datetime'])

In [808]:
# add a has_tweeted column to each df in df_list that is 1 if there is a tweet during that datetime and 0 otherwise

# btc['has_tweeted'].apply(lambda x: 1 if btc['datetime'] in tweets['datetime'] else 0)

for df in df_list:
    df['has_tweeted'] = df['datetime'].apply(lambda x: 1 if x in tweets['datetime'].values else 0)

In [796]:
btc.to_csv('data/part1/BTC.csv', index=False)
eth.to_csv('data/part1/ETH.csv', index=False)
bnb.to_csv('data/part1/BNB.csv', index=False)
doge.to_csv('data/part1//DOGE.csv', index=False)

In [797]:
btc = pd.read_csv('data/part1/BTC.csv')
eth = pd.read_csv('data/part1/ETH.csv')
bnb = pd.read_csv('data/part1/BNB.csv')
doge = pd.read_csv('data/part1/DOGE.csv')

In [931]:
import statsmodels.api as sm

In [985]:
df = btc

interval=1

d=f'{interval}_minute_return'
n=interval

positive_values = [i+1 for i in range(n)]
negative_values = [i for i in range(-n, 0)]

m = negative_values + positive_values

In [986]:
x = df[['datetime','has_tweeted']]

#remove all the returns that are m minutes after a tweet

datetimes = x[x['has_tweeted'] == 1]['datetime']

interval_datetimes = [dt + pd.Timedelta(minutes=i) for dt in datetimes for i in m]

x.drop(x[x['datetime'].isin(interval_datetimes)].index, inplace=True)

C:\Users\levit\AppData\Local\Temp\ipykernel_7148\248362625.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop(x[x['datetime'].isin(interval_datetimes)].index, inplace=True)

In [987]:
# select every interval-th row where 'has_tweeted' == 0 and every row where 'has_tweeted' == 1

x = x[x['has_tweeted'] == 1].append(x[x['has_tweeted'] == 0][::interval])

# sort by datetime

x.sort_values(by='datetime', inplace=True)

C:\Users\levit\AppData\Local\Temp\ipykernel_7148\540500623.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x = x[x['has_tweeted'] == 1].append(x[x['has_tweeted'] == 0][::interval])

In [988]:
x

                   datetime  has_tweeted
0       2018-01-02 00:00:00            0
1       2018-01-02 00:01:00            0
2       2018-01-02 00:02:00            0
3       2018-01-02 00:03:00            0
4       2018-01-02 00:04:00            0
...                     ...          ...
2441210 2022-08-29 23:55:00            0
2441211 2022-08-29 23:56:00            0
2441212 2022-08-29 23:57:00            0
2441213 2022-08-29 23:58:00            0
2441214 2022-08-29 23:59:00            0

[2417186 rows x 2 columns]

In [989]:
y = df[['datetime','has_tweeted', d]]
y.drop(y[y['datetime'].isin(interval_datetimes)].index, inplace=True)

y = y[y['has_tweeted'] == 1].append(y[y['has_tweeted'] == 0][::interval])

# sort by datetime

y.sort_values(by='datetime', inplace=True)

C:\Users\levit\AppData\Local\Temp\ipykernel_7148\4057616867.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.drop(y[y['datetime'].isin(interval_datetimes)].index, inplace=True)

In [955]:
x=x['has_tweeted']
x = sm.add_constant(x)

y = y[d]

In [958]:
model = sm.RLM(y, x, M=sm.robust.norms.HuberT())
results = model.fit()

In [959]:
print(results.params)

const          0.000013
has_tweeted    0.000052
dtype: float64

In [960]:
print(results.pvalues)

const          6.030794e-18
has_tweeted    9.540684e-02
dtype: float64

# Naive approach based on single words

### Word Histogram

In [ ]:
frequent_words = pd.read_csv('data/tweets/word_count_filtered.csv')

#select top 20 most frequent words
top_frequent_words = frequent_words[:20]


# create a histogram plot of the top frequent_words_filtered, with the word as the y-axis and the count as the x-axis
from cProfile import label
import matplotlib.pyplot as plt

fig = plt.figure(figsize=(12,10))
   
words = top_frequent_words['word'][::-1]

count = top_frequent_words['count'][::-1]

count = count.tail(15)

words = words.tail(15)

word= frequent_words[frequent_words['word'] == 'doge']
selected_word = word['word'].iloc[0]
c = word['count'].values.sum()

words = pd.concat([pd.Series('model'), words]).reset_index(drop=True)
count = pd.concat([pd.Series(236), count]).reset_index(drop=True)

#insert the word in the begining of words
words = pd.concat([pd.Series(selected_word), words]).reset_index(drop=True)
count = pd.concat([pd.Series(c), count]).reset_index(drop=True)

words = pd.concat([pd.Series('factory'), words]).reset_index(drop=True)
count = pd.concat([pd.Series(78), count]).reset_index(drop=True)


words = pd.concat([pd.Series('tesla'), words]).reset_index(drop=True)
count = pd.concat([pd.Series(15), count]).reset_index(drop=True)

plt.barh(words, count, height=0.5)
plt.title('Common words used by Musk in his tweets', fontsize=20)
plt.xlabel('Count', fontsize = 15)
plt.ylabel('Word', fontsize = 15)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
#plt.savefig('figures/most_common_words.png', facecolor='white', edgecolor='none')
plt.show()

In [ ]:
# Model Y_(t,t+d) = const +beta*has_tweeted

# Topic based approach

### Word Cloud

# Trading Startegy