In [9]:
import pandas as pd

tweets = pd.read_csv('data/tweets/all_tweets.csv')

tweets

,datetime,text,token
0,2022-08-29 02:18:35,first few days just 1k but going to 10k if no ...,"['first', 'few', 'days', 'just', '1k', 'but', ..."
1,2022-08-29 02:11:30,good to ask yourself this often,"['good', 'to', 'ask', 'yourself', 'this', 'oft..."
2,2022-08-29 02:11:12,agreed we recently made this change many an in...,"['agreed', 'we', 'recently', 'made', 'this', '..."
3,2022-08-28 23:51:49,this will happen again just a matter of time,"['this', 'will', 'happen', 'again', 'just', 'a..."
4,2022-08-28 22:54:36,the swoop of the x is meant to represent the a...,"['the', 'swoop', 'of', 'the', 'x', 'is', 'mean..."
...,...,...,...
13203,2018-01-07 03:00:48,near 405,"['near', '405']"
13204,2018-01-07 02:33:02,put an old school roller rock restaurant at on...,"['put', 'an', 'old', 'school', 'roller', 'rock..."
13205,2018-01-05 00:30:00,falcon heavy goes vertical,"['falcon', 'heavy', 'goes', 'vertical']"
13206,2018-01-03 08:22:31,a neural net to detect rain no rain or sun are...,"['a', 'neural', 'net', 'to', 'detect', 'rain',..."
13207,2018-01-03 05:38:16,come work at the biggest most advanced factory...,"['come', 'work', 'at', 'the', 'biggest', 'most..."

In [10]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\levit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
tweets['tokenized_text']= tweets['text'].apply(word_tokenize)

tweets['filtered_tokenized_text']= tweets['tokenized_text'].apply(lambda x: [word for word in x if word not in stopwords.words('english')])

tweets['filtered_text'] = tweets['filtered_tokenized_text'].apply((" ").join)

tweets

In [ ]:
tweets.to_csv('data/tweets/processed_all_tweets.csv', index=False)

In [ ]:
tweets = pd.read_csv('data/tweets/processed_all_tweets.csv')
tweets

,Unnamed: 0,datetime,text,token,tokenized_text,filtered_tokenized_text,filtered_text
0,0,2022-08-29 02:18:35,first few days just 1k but going to 10k if no ...,"['first', 'few', 'days', 'just', '1k', 'but', ...","['first', 'few', 'days', 'just', '1k', 'but', ...","['days', '1k', '10k', 'major', 'note', '10692']",days 1k 10k major note 10692
1,1,2022-08-29 02:11:30,good to ask yourself this often,"['good', 'to', 'ask', 'yourself', 'this', 'oft...","['good', 'to', 'ask', 'yourself', 'this', 'oft...",[],NaN
2,2,2022-08-29 02:11:12,agreed we recently made this change many an in...,"['agreed', 'we', 'recently', 'made', 'this', '...","['agreed', 'we', 'recently', 'made', 'this', '...","['agreed', 'recently', 'made', 'change', 'inte...",agreed recently made change intense effort und...
3,3,2022-08-28 23:51:49,this will happen again just a matter of time,"['this', 'will', 'happen', 'again', 'just', 'a...","['this', 'will', 'happen', 'again', 'just', 'a...","['happen', 'matter', 'time']",happen matter time
4,4,2022-08-28 22:54:36,the swoop of the x is meant to represent the a...,"['the', 'swoop', 'of', 'the', 'x', 'is', 'mean...","['the', 'swoop', 'of', 'the', 'x', 'is', 'mean...","['swoop', 'x', 'meant', 'represent', 'arc', 'o...",swoop x meant represent arc orbit
...,...,...,...,...,...,...,...
13203,13203,2018-01-07 03:00:48,near 405,"['near', '405']","['near', '405']",['405'],405
13204,13204,2018-01-07 02:33:02,put an old school roller rock restaurant at on...,"['put', 'an', 'old', 'school', 'roller', 'rock...","['put', 'an', 'old', 'school', 'roller', 'rock...","['put', 'school', 'roller', 'rock', 'restauran...",put school roller rock restaurant supercharger
13205,13205,2018-01-05 00:30:00,falcon heavy goes vertical,"['falcon', 'heavy', 'goes', 'vertical']","['falcon', 'heavy', 'goes', 'vertical']","['falcon', 'heavy', 'vertical']",falcon heavy vertical
13206,13206,2018-01-03 08:22:31,a neural net to detect rain no rain or sun are...,"['a', 'neural', 'net', 'to', 'detect', 'rain',...","['a', 'neural', 'net', 'to', 'detect', 'rain',...","['neural', 'net', 'detect', 'rain', 'rain', 's...",neural net detect rain rain sun patient
13207,13207,2018-01-03 05:38:16,come work at the biggest most advanced factory...,"['come', 'work', 'at', 'the', 'biggest', 'most...","['come', 'work', 'at', 'the', 'biggest', 'most...","['work', 'biggest', 'advanced', 'factory', 'ea...",work biggest advanced factory earth river beau...

In [7]:
from wordcloud import WordCloud

long_string = ','.join(list(tweets['filtered_text'].values))

wordcloud = WordCloud(background_color="white", max_words=5000, contour_width=3, contour_color='steelblue')

wordcloud.generate(long_string)

wordcloud.to_image()

TypeError: sequence item 1: expected str instance, float found